.login-modal-wrapper {
  position: fixed;
  background-color: rgba(10, 10, 10, 0.70);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999998;

  display: flex;
  align-items: center;
  justify-content: center;
}

.login-modal {
  position: fixed;
  z-index: 999999;
  background-color: black;
  border: 2px solid #42DCA3;

  width: 100%;
  max-width: 800px;

  padding-bottom: 15px;
}

.login-modal-tab-title {
  margin-bottom: 5px;
}

.login-modal-tabs {
  margin-top: 5px;
}

.login-modal-tab {
  color: #42DCA3;
}

.login-modal-tab.active {
  border-bottom: 2px solid #42DCA3;
}

.close-icon {
  border: none !important;
  border-radius: 50px !important;
  position: absolute;
  right: 0;
  z-index: 1000000;
}

.modal-form {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 100%;
  max-width: 600px;
}
