@-webkit-keyframes popup {
  from {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

.toasts {
  position: fixed;
  width: 300px;
  max-width: 100%;
  right: 0;
  bottom: 0;
  transform: translateZ(0);
  padding: 0 10px;
  box-sizing: border-box;
  transition: height 1s;
  z-index: 9999999;
  list-style: none;
}

.toast {
  width: 100%;
  box-sizing: border-box;
  font-family: sans-serif;
  padding: 20px 15px;
  margin: 10px 0;
  -webkit-animation: popup 0.6s cubic-bezier(0.1, 1.06, 0.6, 1.34);
  cursor: pointer;
}

.toast--success {
  background-color: #2070de;
  color: #000;
}

.toast--error {
  background-color: #dc3545;
  color: #fff;
}
